@import 'tailwindcss';

@font-face {
  font-family: 'Norse';
  src: url('/fonts/Norse.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Norse';
  src: url('/fonts/Norsebold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@source '../node_modules/flowbite-svelte/dist';

@theme {
  --font-norse: 'Norse', sans-serif;

  --z-index-100: 100;

  --color-primary-50: #f7fee7;
  --color-primary-100: #ecfccb;
  --color-primary-200: #d9f99d;
  --color-primary-300: #bef264;
  --color-primary-400: #a3e635;
  --color-primary-500: #84cc16;
  --color-primary-600: #65a30d;
  --color-primary-700: #4d7c0f;
  --color-primary-800: #3f6212;
  --color-primary-900: #365314;

  --color-custom-red: #ba0c2f;
  --color-custom-blue: #1a4a9e;
}

@layer base {
  html,
  body {
    overflow-x: hidden;
    width: 100%;
  }

  h1 {
    @apply font-norse mb-6 text-3xl font-bold sm:text-4xl dark:text-white;
  }
  h2 {
    @apply font-norse my-4 text-2xl font-semibold sm:text-3xl dark:text-white;
  }
  h3 {
    @apply my-2 text-xl sm:text-2xl dark:text-white;
  }
}
